.album{
  display: flex;
  justify-content: space-between;
  margin: 50px;
  padding: 10px;
  border: solid 2px black;
}
.pagination{
  text-align: center;

}
.active{
  border:solid 2px;
  
}
.none{
  border: none;
  cursor: pointer;
}