.single{
    grid-area: f;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-right: 100px;
    margin-left:100px ;
    background-color: rgb(238, 229, 101);
    height: max-content;
    text-align: center;
    }