.modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
.modalActive{
    opacity: 1;
    pointer-events: all;
}
.content{
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    width: 50vw;
    transform: scale(0.5);
    transition: 0.5s;
}
.contentActive{
    transform: scale(1);
}