.wrapper{
    display: grid;
    grid-template-rows:4fr 10fr ;
    grid-template-areas: 
    'f'
    'l';
}   
.wrapper{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.wrapper_single{
grid-area: f;
padding-top: 150px;
padding-bottom: 150px;
margin-right: 100px;
margin-left:100px ;
background-color: rgb(238, 229, 101);
height: max-content;
text-align: center;
}
