.wrapper{
    display: grid;
    grid-template-rows:4fr 10fr ;
    grid-template-areas: 
    'f'
    'l';
}   
.wrapper{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.wrapper_single{
grid-area: f;
margin-top: 5px;
background-color: rgb(238, 229, 101);
height: max-content;
width:auto;
text-align: center;
}
